body {
    margin: 0;
    font-family: 'Lexend Deca', sans-serif;
    -webkit-font-smoothing: antialiased;
}

code {
    font-family: 'Lexend Deca', sans-serif;
}


/* estilização da brra de rolagem :) */

::-webkit-scrollbar {
    width: 0.8vmin;
    height: 0.8vmin;
}

 ::-webkit-scrollbar-track {
    background: #000000;
}

 ::-webkit-scrollbar-thumb {
    background: #ad15ff;
}

::-webkit-scrollbar-thumb {
    background: #ad15ff;
    background: -moz-linear-gradient(top, #000000 0%, #ad15ff 25%, #ad15ff 50%, #ad15ff 76%, #000000 100%);
    background: -webkit-linear-gradient(top, #000000 0%, #ad15ff 25%, #ad15ff 50%, #ad15ff 76%, #000000 100%);
    background: linear-gradient(to bottom, #000000 0%, #ad15ff 25%, #ad15ff 50%, #ad15ff 76%, #000000 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0);
}

 ::-webkit-scrollbar-thumb:horizontal {
    background: #ad15ff;
    background: -moz-linear-gradient(left, #000000 0%, #ad15ff 25%, #ad15ff 50%, #ad15ff 76%, #000000 100%);
    background: -webkit-linear-gradient(left, #000000 0%, #ad15ff 25%, #ad15ff 50%, #ad15ff 76%, #000000 100%);
    background: linear-gradient(to right, #000000 0%, #ad15ff 25%, #ad15ff 50%, #ad15ff 76%, #000000 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0);
}